.App{
  color:azure;
  background-color:#7e938c;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.card{
  background-color: #ab7c48;
}
.footer{
  background-color: #252d38;
  color:#fdf5e3;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #252d38 ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#fdf5e3;
}

.navbar-dark {
  background-color: #ab7c48;
}
.my_image{
  height:120px;
  width:120px;
 }
.page-enter{
  opacity: 0.01%;
  transform: translateY(-100%);
}
.page-enter-active{
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms ease-in;
}
.page-exit{
  opacity:1;
  transform: translateX(0%);
}

.page-exit-active{
  opacity: 0.01;
  transform: translateX(100%);
  transition: all ease-out 300ms;
}
